.container
  h1(align='center') #{title}

.container  
  .tile-left
    div(style='margin:auto' align='center')
      button(align='center' style='width:125px;' id='scanButton' class='btn' onclick='scanForDevices("device_table");') Start Scan
    div(id='device_table' align='center')

  div(class='tile-left spacer-left')
  .tile-left
    div(class='row')
      .col-sm-6
        .row
          .col-sm-5
            p Ambient Temperature:
          .col-sm-1
            #aTempLabel
        .row
          .col-sm-5
            p Object Temperature:
          .col-sm-1
            #oTempLabel
        .row
          .col-sm-5
            p Pressure:
          .col-sm-1
            #pressureLabel
        .row
          .col-sm-5
            p Luxometer:
          .col-sm-1
            #luxLabel
        .row
          .col-sm-5
            p Humidity:
          .col-sm-1
            #humidityLabel
      .col-sm-6
        .row
          .col-sm-4
            p Gyroscope: 
          .col-sm-1
            .spacer-left
          .col-sm-1
            #gyroLabel
        .row
          .col-sm-4
            p Accelerometer: 
          .col-sm-1
            .spacer-left
          .col-sm-1
            #accelLabel
        .row
          .col-sm-4
            p Magnetometer: 
          .col-sm-1
            .spacer-left
          .col-sm-1
            #magLabel


