.container
  h1(align='center') #{title}

.container  
  .tile-left
    div(style='margin:auto' align='center')
      button(align='center' style='width:125px;' id='scanButton' class='btn' onclick='scanForDevices("device_table");') Start Scan
    div(id='device_table' align='center')

  div(class='tile-left spacer-left')

  .tile-left
    table
      tr
        td
          p Ambient Temperature:
        td
          #aTempLabel
      tr
        td
          p Object Temperature:
        td
          #oTempLabel
      tr
        td
          p Pressure:
        td
          #pressureLabel
      tr
        td
          p Luxometer:
        td
          #luxLabel
      tr
        td
          p Humidity:
        td
          #humidityLabel
  .tile-left
    .spacer-left
  .tile-left
    table
      tr
        td
          p GyroscopeX: 
        td
          #gyroXLabel
      tr
        td
          p GyroscopeY: 
        td
          #gyroYLabel
      tr
        td
          p GyroscopeZ: 
        td
          #gyroZLabel
      tr
        td
          p AccelerometerX: 
        td
          #accelXLabel
      tr
        td
          p AccelerometerY: 
        td
          #accelYLabel
      tr
        td
          p AccelerometerZ: 
        td
          #accelZLabel
  .tile-left
    .spacer-left
  .tile-left
    table
      tr
        td
          p MagnetometerX: 
        td
          #magXLabel
      tr
        td
          p MagnetometerY: 
        td
          #magYLabel
      tr
        td
          p MagnetometerZ: 
        td
          #magZLabel

.container
  ul(class='nav nav-tabs' role='tablist' id='tabs')
    li(class='active')
      a(href='#graphs' role='tab' data-toggle='tab') Live Graphs
    li
      a(href='#cloud' role='tab' data-toggle='tab' onclick='$.get("/cloud_config",getCloudConfig)') Cloud Setup
  div(class='tab-content')
    div(role='tab-panel' class='tab-pane active' id='graphs')
      .box-5p
        .row
          .col-sm-2
             .box-1p
               button(align='center' style='width:125px;' class='btn' onclick='plotTemp();')  Temperature
             .box-1p
               button(align='center' style='width:125px;' class='btn' onclick='plotPressure();')  Pressure
             .box-1p
               button(align='center' style='width:125px;' class='btn' onclick='plotHumidity();')  Humidity
             .box-1p
               button(align='center' style='width:125px;' class='btn' onclick='plotLux();')  Luxometer
             .box-1p
               button(align='center' style='width:125px;' class='btn' onclick='plotOrient();')  Orientation
          .col-sm-10
            #atempChart
            #otempChart
            #pressureChart
            #humidityChart
            #luxChart
            #orientChart

    div(role='tab-panel' class='tab-pane' id='cloud')


